<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Questao Aleatoria</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>

<div class="container">
    <div class="card mt-4">
        <div class="card-header">
            <h5 class="card-title" th:text="${question.materia}">Matéria</h5>
        </div>
        <div class="card-body">
            <p class="card-text" th:text="${question.enunciado}">Enunciado da questão</p>

            <div class="list-group">
                <div th:each="alternativa : ${question.alternativas}" class="list-group-item">
                    <span th:text="${alternativa.key + ') ' + alternativa.value}"></span>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>